{
    parser: 'babel-eslint',
    plugins: [
        'react',
    ],
    parserOptions: {
        ecmaVersion: 2017,
        sourceType: 'module',
        ecmaFeatures: { jsx: true },
    },
    env: {
        es6: true,
        browser: true,
    },
    extends: [
        'plugin:react/recommended',
    ],
    settings: {
        react: {
            version: '16.6.3',
        },
    },
    rules: {
        'array-bracket-spacing': [ 'warn', 'always' ],
        'camelcase': [ 'error', { 'properties': 'always' } ],
        'comma-dangle': [ 'warn', 'always-multiline' ],
        'comma-spacing': [ 'warn', { 'before': false, 'after': true } ],
        'eol-last': [ 'error', 'always' ],
        'func-call-spacing': [ 'error', 'never' ],
        'implicit-arrow-linebreak': [ 'error', 'beside' ],
        'key-spacing': [ 'error', { 'beforeColon': false, 'afterColon': true, 'mode': 'strict' } ],
        'no-console': 'warn',
        'no-mixed-spaces-and-tabs': 'error',
        'no-multi-spaces': 'warn',
        'no-multiple-empty-lines': [ 'error', { 'max': 1 } ],
        'no-trailing-spaces': 'warn',
        'no-unused-vars': 'error',
        'semi': [ 'error', 'never' ],

        // ES6
        'arrow-spacing': [ 'error', { 'before': true, 'after': true } ],
        'no-const-assign': 'error',
        'no-duplicate-imports': 'error',
        'no-var': 'error',
        'object-shorthand': 'warn',
        'prefer-const': [ 'warn', { 'destructuring': 'any' } ],

        // React
        'react/no-unused-prop-types': 'warn',
        'react/prop-types': ['error', { 'ignore': [ 'children' ] }],
        'react/self-closing-comp': 'error',
        'react/jsx-equals-spacing': ['error', 'never'],
        'react/jsx-filename-extension': ['warn', { 'extensions': ['.js', '.jsx'] }],
        'react/jsx-key': 'warn',
        'react/jsx-first-prop-new-line': ['warn', 'multiline'],
        'react/jsx-curly-brace-presence': ['warn', { 'props': 'always', 'children': 'ignore' }],
        'react/jsx-props-no-multi-spaces': 'warn',
        'react/jsx-tag-spacing': ['warn', { 'closingSlash': 'never', 'beforeSelfClosing': 'always', 'afterOpening': 'never', 'beforeClosing': 'never'}],
        'react/jsx-uses-vars': 'warn',
    },
}
