{
    parser: 'babel-eslint',
    parserOptions: {
        ecmaVersion: 2017,
    },
    env: {
        es6: true,
    },
    rules: {
        'array-bracket-spacing': [ 'warn', 'always' ],
        'camelcase': [ 'error', { 'properties': 'always' } ],
        'comma-dangle': [ 'warn', 'always-multiline' ],
        'comma-spacing': [ 'warn', { 'before': false, 'after': true } ],
        'eol-last': [ 'error', 'always' ],
        'func-call-spacing': [ 'error', 'never' ],
        'function-paren-newline': [ 'error', 'multiline' ],
        'implicit-arrow-linebreak': [ 'error', 'beside' ],
        'key-spacing': [ 'error', { 'beforeColon': false, 'afterColon': true, 'mode': 'strict' } ],
        'no-mixed-spaces-and-tabs': 'error',
        'no-multi-spaces': 'warn',
        'no-multiple-empty-lines': [ 'error', { 'max': 1 } ],
        'no-trailing-spaces': 'error',
        'no-unused-vars': 'error',
        'semi': [ 'error', 'never' ],

        // ES6
        'arrow-spacing': [ 'error', { 'before': true, 'after': true } ],
        'no-const-assign': 'error',
        'no-duplicate-imports': 'error',
        'no-var': 'error',
        'object-shorthand': 'warn',
        'prefer-const': [ 'warn', { 'destructuring': 'any' } ],
    },
}
