.banner {
    height: 75px;
}

.navBar {
    height: 50px;
    background-color: #d5d9db;
}

.navItem {
    border-right: 1px solid black;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.menu {
    width: 360px;
}

.options {
    border-color: #e6e9eb;
}
